name: tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14, 16, 18, 20]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: EditorConfig Lint
      uses: docker://mstruebing/editorconfig-checker:2.7.2

    - name: Enable corepack
      run: |
        corepack enable

    - name: Cache node_modules
      uses: actions/cache@v3
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-16-modules-${{ hashFiles('**/yarn.lock') }}

    - name: Install
      run: |
        corepack prepare yarn@3.3.0 --activate
        yarn

    - name: Build
      run: yarn build

    - name: Lint
      run: yarn lint

    - name: Test
      run: |
        yarn coverage > COVERAGE_RESULT
        echo "$(cat COVERAGE_RESULT)"
